<?xml version="1.0" encoding="utf-8"?>

<launch>
  <arg name="number" default="1"/>
  <group ns="bebop10$(arg number)">

    <node pkg="bebop_driver" name="bebop_driver" type="bebop_driver_node" output="screen" respawn="false">
      <param name="camera_info_url" value="package://bebop_driver/data/bebop2_camera_calib.yaml" />
      <!-- <param name="bebop_ip" value="192.168.208.10$(arg number)" /> -->
      <param name="bebop_ip" value="192.168.42.1" />
      <rosparam command="load" file="$(find bebop_driver)/config/defaults.yaml" />
    </node>
    
    <node pkg="bebop_sokudoseigyo" name="bebop_sokudoseigyo" type="bebop_sokudoseigyo_node" output="screen">
    </node>

    <node pkg="task_switch" name="joy_to_twist" type="switch_input.py" args="" respawn='true' output='screen'>
    </node>

    <node pkg="task_switch" name="takeoff_land" type="takeoff_land.py" args="" respawn='true' output='screen'>
	    <param name = "bebop_number" value="$(arg number)"/>
    </node>

    <node pkg="task_switch" type="pose2tf.py" name="pose2tf_node">
      <param name="tfname" value="/visualize/agent$(arg number)"/>
      <remap from="posestamped" to="/vrpn_client_node/bebop10$(arg number)/pose"/>
    </node>

    <!-- just let bebop2 camera face downward -->
    <node pkg="rostopic" type="rostopic" name="camera_control" args="pub -r 10 camera_control geometry_msgs/Twist -- '[0.0, 0.0, 0.0]' '[0.0, -90, 0.0]'"/>

    <node pkg= "tensorflow_object_detector" name="detect_ros" type="detect_ros.py"  output="screen"> 
	    <remap from='image' to='image_raw'/>
    </node>
  </group>

</launch>
